.container {
  padding: 0px 80px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

body {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.common__button {
  border: none;
  background-color: #ffffff;
  min-width: 179px;
  height: 56px;
  padding: 0 20px;
  border-radius: 25px;
  font-family: var(--second-font);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  border: 2px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common__button:hover,
.common__button:focus-visible {
  border-color: var(--bg-secondary);
  outline-offset: 3px
}

.common__link {
  padding-top: 26px;
  padding-bottom: 26px;
  transition: color 200ms ease;
}


.common__link:hover,
.common__link:focus-visible {
  color: var(--bg-secondary);
}
