.container{
  padding: 80px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

body{
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.wrapper {
  width: 100%;
}
