:root {
  --primary-font: 'Inter', sans-serif;
  --second-font: 'Sen', sans-serif;
  --color-primary: #232536;
  --color-secondary: #FFFFFF;

  --bg-primary: #232536;      
  --bg-secondary: #FFD050; 
  --bg-accent: #592EA9;
  
}