.container-footer {
  padding-top: 59px;
  padding-bottom: 56px;

}

.footer-subscribe-wrapper {
  padding: 80px 64px;
  background-color: #302b2b;
  margin-top: 55px;
}

.footer-subscribe {
  display: flex;
  align-items: center;
}

.footer-subscribe-text {
  /* max-width: 562px; */
  /* width: 100%; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  /* color: #FFFFFF; */
  /* margin-bottom: 24px; */
  margin-right: 64px;
}

.footer-subscribe-input {
  max-width: 323px;
  width: 100%;
  height: 56px;
  text-align: center;
  margin-right: 24px;

}

a.footer-subscribe-button {
  max-width: 179px;
  width: 100%;
  height: 56px;
  background-color: #FFD050;
  color: #232536;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.33;
}