.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-top: 12px;
  padding-bottom: 12px; 
  background-color: var(--bg-primary);
}

.header__nav,
.footer__nav {
  display: flex;
  align-items: center;
  gap: 621px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__menu,
.footer__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

