.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-nav,
.footer-nav {
  display: flex;
  align-items: center;
  gap: 621px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-list,
.footer-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

