.hero-container {
  background-image: url('../../assets/images/hero-bkg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e3154;
}

.hero-container {
  background-image:
    radial-gradient(circle at center,
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.6) 100%),
    url('../../assets/images/hero-bkg-1.jpg');

  background-size: 100% 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.hero {
  max-width: 804px;
  padding-top: 128px;
  padding-bottom: 192px;
}

.hero-label {
  line-height: 1.25;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-title {
  font-family: "Sen", sans-serif;
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
}

.hero-meta {
  margin-bottom: 16px;
}

.hero-meta-name {
  color: #ffd050;
}

.hero-description {
  margin-bottom: 48px;
}

.hero-button {
  background-color: var(--bg-secondary);
}

.hero-button:hover,
.hero-button:focus-visible {
  border-color: var(--bg-primary);
  outline-offset: 3px
}