.hero-container {
  background-image: url('../../assets/images/hero-bkg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e3154;
}

.hero {
  max-width: 804px;
  padding-top: 128px;
  padding-bottom: 192px;

}

.hero-label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}

.hero-title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.14286;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 24px;
}

.hero-meta {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  margin-bottom: 16px;
}

.hero-meta-name {
  color: #ffd050;
}

.hero-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  margin-bottom: 48px;
}