.post {
  padding-top: 128px;
  padding-bottom: 64px;
  display: flex;
  gap: 32px;
}

.post__featured {
  max-width: 733px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post__label {
  font-family: var(--second-font);
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: -0.06em;
  color: var(--color-primary);
}

.post__featured-wrapper--post {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post__featured--meta {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #4C4C4C;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.post__featured--meta--name {
  color: #592ea9;
}

.post__featured--text {
  margin-bottom: 16px;
  font-family: var(--second-font);
  font-size: 28px;
  line-height: 1.42;
  color: var(--color-primary);
  letter-spacing: -0.035em;
}

.post__featured--excerpt {
  margin-bottom: 32px;
  color: #6d6e76;
}

.post__featured--button {
  background-color: var(--bg-secondary);
}

.post__featured--button:hover,
.post__featured--button:focus-visible {
  border-color: var(--bg-primary);
  outline-offset: 3px
}

.post__all-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.post__all-link {
  color: #592ea9;
  padding: 10px 0px;
}

.post__list {
  display: flex;
  flex-direction: column;
}

.post__item {
  padding: 32px 116px 25px 32px;
  max-width: 517px;
  min-height: 181px;
}

.post__meta {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: #4C4C4C;
  margin-bottom: 8px;
}

.post__item-title {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #232536;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}