<footer class="footer">
  <div class="container footer__container">

    <nav class="footer__nav">
      <a href="./index.html" class="footer__logo">
      </a>

      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Home</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Blog</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">About us</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Contact us</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Privacy Policy</a>
        </li>
      </ul>
    </nav>

    <div class="subscribe">
      <h2 class="subscribe__text">
        Subscribe to our newsletter to get latest updates and news
      </h2>

      <form class="subscribe__form">
        <input
          class="subscribe__input"
          type="email"
          placeholder="Enter your email"
          required
        >
        <button class="button button--primary" type="submit">
          Subscribe
        </button>
      </form>
    </div>

    <div class="contacts">
      <p class="contacts__text">
        Finstreet 118 2561 Fintown<br>
        Hello@finsweet.com<br>
        020 7993 2905
      </p>

      <ul class="socials">
        <li class="socials__item">
          <a href="#" class="socials__link">
            <!-- svg -->
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <!-- svg -->
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <!-- svg -->
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <!-- LinkedIn svg -->
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>