@import './base/reset.css';
@import './base/variables.css';
@import './base/common.css';

/* components */
@import './components/header.css';
@import './components/footer.css';
@import './components/hero.css';
@import './components/post.css';
@import './components/about.css';


