.container{
  padding: 80px;
}

body{
  color: #FFFFFF;
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.wrapper {
  max-width: 1440px;
}

.container {
  background-color: #232536;
  padding-left: 80px;
  padding-right: 80px;
}
