.container{
  padding: 80px;
  /* max-width: 1440px; */
  margin: 0 auto;
}

body{
  color: #FFFFFF;
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.wrapper {
  width: 100%;
}

.container {
  background-color: #232536;
  padding-left: 80px;
  padding-right: 80px;
}
