<div class="container">
  <div class="about">
    <div class="about__wrapper">
      <div class="about__block-us">
      <h2 class="about__title">ABOUT US</h2>
      <h3 class="about__subtitle-us">We are a community of content writers who share their learnings</h3>
      <p class="about__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <a class="about__link" href="#">Read More</a>
    </div>
    <div class="about__block--mission">
      <h2 class="about__title">Our mision</h2>
      <h3 class="about__subtitle-mission">Creating valuable content for creatives all around the world</h3>
      <p class="about__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
    </div>
    </div>
  </div>
</div>