<div class="container hero">
  <div class="hero__wrapper">
    <p  class="hero__label">Posted on startup</p>
    <h1 class="hero__title">Step-by-step guide to choosing great font pairs</h1>
    <p  class="hero__meta">By <span class="hero__meta-name">James West</span> | May 23, 2022 </p>
    <p class="hero__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident.</p>
    <button class="common__button hero__button">Read More</button>
  </div>
</div>