<div class="container hero-container">
  <div class="hero">
    <p  class="hero-label">Posted on startup</p>
    <h1 class="hero-title">Step-by-step guide to choosing great font pairs</h1>
    <p  class="hero-meta">By <span class="hero-meta-name">James West</span> | May 23, 2022 </p>
    <p class="hero-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident.</p>
    <button class="common-button hero-button">Read More</button>
  </div>
</div>