<div class="container  post__container">
  <div class="post">
    <h2 class="visually-hidden">
      This section contains original articles, analysis, and practical materials. The posts are based on real-world
      experience and aimed at solving specific problems.</h2>
    <div class="post__featured">
      <h3 class="post__label">Featured Post</h3>
      <div class="post__featured-wrapper--post">
        <img class="post__featured--image" src="../../assets/images/post_description.jpg"
        alt="A beautiful house against a backdrop of palm trees" width="667" height="351">
      <p class="post__featured--meta">By <span class="post__featured--meta--name">John Doe</span> | May 23, 2022</p>
      <h4 class="post__featured--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      </h4>
      <p class="post__featured--excerpt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur.
        Excepteur sint occaecat cupidatat non proident.</p>
      <button class="common-button post__featured--button">Read More</button>
      </div>
    </div>
    <div class="post__all">
      <div class="post__all-header">
        <h3 class="post__label">All Posts</h3>
        <a href="#" class="post__all-link">View All</a>
      </div>
      <ul class="post__list">
        <li class="post__item">
          <article class="post__article">
            <p class="post__meta">By <span class="post__featured--meta--name">John Doe</span> | Aug 23, 2021</p>
            <h4 class="post__item-title">
              8 Figma design systems that you can download for free today.
            </h4>
          </article>
        </li>
        <li class="post__item">
          <article class="post__article">
            <p class="post__meta">By <span class="post__featured--meta--name">John Doe</span> | Aug 23, 2021</p>
            <h4 class="post__item-title">
              8 Figma design systems that you can download for free today.
            </h4>
          </article>
        </li>
        <li class="post__item">
          <article class="post__article">
            <p class="post__meta">By <span class="post__featured--meta--name">John Doe</span> | Aug 23, 2021</p>
            <h4 class="post__item-title">
              8 Figma design systems that you can download for free today.
            </h4>
          </article>
        </li>
        <li class="post__item">
          <article class="post__article">
            <p class="post__meta">By <span class="post__featured--meta--name">John Doe</span> | Aug 23, 2021</p>
            <h4 class="post__item-title">
              8 Figma design systems that you can download for free today.8 Figma design systems that you can download for free today.8 Figma design systems that you can download for free today.
            </h4>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>